<div *ngIf="poke$ | async as pokemon">
  <p-card class="card"
  header="{{ pokemon.name }}"
  subheader="Card Subheader"
  [style]="{ width: '700px' }"
  >
  <ng-template pTemplate="header">
    <img alt="Card" src="{{ pokemon.sprites.front_shiny }}" />
  </ng-template>
  <div class="footer">
  <p>
    <span>Height: </span><b>{{ pokemon.height }}</b><br/>
    <span>Weight: </span><b>{{ pokemon.weight }}</b><br/>
    <span>Order: </span><b>{{ pokemon.order }}</b><br/>
    <span>Experience: </span><b>{{ pokemon.base_experience }}</b><br/>
  </p>
  <!-- <ng-template pTemplate="footer"> -->
    <div class="flex gap-3 mt-1">
    </div>
  </div>
  <!-- </ng-template> -->
</p-card>

  </div>
  